<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Forum - Free Bulma template</title>
		<link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
		<!-- Bulma Version 0.7.1-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
		<link rel="stylesheet" type="text/css" href="./static/css/forum.css">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Zilla+Slab" rel="stylesheet">
		<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

		<script>
$(function() {
  $.getJSON("static/data/acl_2017_labeled.json" , function(data) {
    var ulObj = $("#demo"), len = data.length;
    for(var i = 0; i < len; i++) {
			var title = data[i].title;
			var authors = data[i].authors;
			var authors_str = authors.join(', ');

			var first_author_country = data[i].country[0]; // zh-CN
			var country_png = 'unk.png'
			var pdf_url = data[i].pdf
			switch(first_author_country) {
				    case 'zh-CN':
							country_png = 'China.png'
							break;
				    case 'en':
							country_png = 'United-States.png'
				      break;
				    case 'de':
							country_png = 'Germany.png'
							break;
				    case 'ja':
							country_png = 'Japan.png'
							break;
				    case 'hi':
							country_png = 'India.png'
							break;
				    case 'fr':
							country_png = 'France.png'
							break;
				    case 'it':
							country_png = 'Italy.png'
							break;
						case 'eu':
							ountry_png = 'Basque-Country.png'
							break;
						case 'ar':
							ountry_png = 'Saudi-Arabia.png'
							break;
						case 'az':
							ountry_png = 'Azerbaijan.png'
							break;
						case 'bg':
							ountry_png = 'Bulgaria.png'
							break;
						case 'pt':
							ountry_png = 'Portugal.png'
							break;
						case 'ro':
							ountry_png = 'Romania.png'
							break;
						case 'ru':
							ountry_png = 'Russia.png'
							break;
						case 'sk':
							ountry_png = 'Slovakia.png'
							break;
						case 'sl':
							ountry_png = 'Slovenia.png'
							break;
						case 'sq':
							ountry_png = 'Albania.png'
							break;
						case 'sv':
							ountry_png = 'Sweden.png'
							break;
						case 'te':
							ountry_png = 'India.png'
							break;
						case 'tl':
							ountry_png = 'Philippines.png'
							break;
						case 'tr':
							ountry_png = 'Turkey.png'
							break;
						case 'und':
							ountry_png = 'UNK'
							break;
						case 'uz':
							ountry_png = 'Kazakhstan'
							break;
						case 'vi':
							ountry_png = 'Vietnam.png'
							break;
						case 'zu':
							ountry_png = 'South-Africa.png'
							break;
						case 'bn':
							ountry_png = 'Bangladesh.png'
							break;
						case 'cs':
							ountry_png = 'Czech-Republic.png'
							break;
						case 'da':
							ountry_png = 'Denmark.png'
							break;
						case 'el':
							ountry_png = 'Greece.png'
							break;
						case 'es':
							ountry_png = 'Spain.png'
							break;
						case 'fi':
							ountry_png = 'Finland.png'
							break;
						case 'fy':
							ountry_png = 'Armenia.png'
							break;
						case 'hr':
							ountry_png = 'Croatia.png'
							break;
						case 'id':
							ountry_png = 'Indonesia.png'
							break;
						case 'la':
							ountry_png = 'Vatican-City.png'
							break;
						case 'ms':
							ountry_png = 'Malaysia.png'
							break;
						case 'nl':
							ountry_png = 'Netherlands.png'
							break;
						case 'pl':
							ountry_png = 'Poland.png'

				}
			var li_item = '<article class="post"><h4>' + title +'</h4><div class="media"><div class="media-left"><p class="image is-32x32"><img src="./static/img/'+country_png+'"></p></div><div class="media-content"><div class="content"><p> ' + authors_str + '</p></div></div><div class="media-right"><span class="has-text-grey-light"><span class="tag"><a href="' + pdf_url + '">PDF</a></span></span></div></div></article>'

			ulObj.append(li_item)
      // ulObj.append($("<li>").attr({"id":data[i].id}).text(data[i].name));
    }
  });
});
</script>


	</head>
	<body>
		<nav class="navbar is-white topNav">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="../">
						<h1 style="font-weight:bold;">Awesome Papers</h1>
					</a>
					<div class="navbar-burger burger" data-target="topNav">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<div id="topNav" class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" href="#ACL_2017">ACL 2017</a>
						<a class="navbar-item" href="#NIPS_2017">NIPS 2017</a>
					</div>
				</div>
			</div>
		</nav>
		<section class="container">
			<div class="columns">
				<div class="column is-3">
					<aside class="menu">
						<p class="menu-label">
							COUNTRY
						</p>
						<ul class="menu-list">
							<li><span class="tag is-primary is-medium ">Japanese</span></li>
							<li><span class="tag is-link is-medium ">English</span></li>
							<li><span class="tag is-light is-danger is-medium ">Chinese</span></li>
						</ul>
					</aside>
				</div>
				<div class="column is-9">
					<div class="form-group">
						<input type='text' class="input"  id="keyword" class="form-control" placeholder="Filter paper" style="margin:10px 0;">
					</div>


					<div class="box content">

						<div id="demo"></div>

					</div>
				</div>
			</div>
		</section>
		<footer class="footer">
			<div class="container">
				<div class="content has-text-centered">
					<div class="columns is-mobile is-centered">
						<div class="field is-grouped is-grouped-multiline">
							<div class="control">
								<div class="tags has-addons">
									<a class="tag is-link" href="https://github.com/dansup/bulma-templates">Bulma Templates</a>
									<span class="tag is-light">Daniel Supernault</span>
								</div>
							</div>
							<div class="control">
								<div class="tags has-addons">
									<a class="tag is-link">The source code is licensed</a>
									<span class="tag is-light">MIT &nbsp;<i class="fa fa-github"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script async type="text/javascript" src="./static/js/bulma.js"></script>
	</body>
</html>
